<nav>
    <section class="logo">
        <img src="/images/Logo.jpg" alt="Website Logo">
    </section>
    <section class="nav-links">
        <a href="/">Home</a>
        <a href="/registration">Registratie</a>
        <a href="/login">Login</a>
        <form action="/logout" method="post" style="display:inline">
            <button type="submit">Logout</button>
        </form>
    </section>
</nav>