<nav>
  <section class="logo">
  </section>
  <section class="nav-links">
    <a href="/home" class="active">Quiz</a>
    <a href="/leaderboards">Leaderboards</a>
    <a href="/favorites">Favoriete quotes</a>
    <a href="/blacklist">Blacklisted quotes</a>
    <a href="/profile" class="profile-nav-link">
  <img src="/images/profileImages/<%= user?.avatar ?? 'boogschutter.png' %>" alt="Profielfoto" class="nav-avatar" />Profiel
</a>
  </section>
</nav>