<nav>
    <section class="logo">
        <img src="/images/Logo.jpg" alt="Website Logo">
    </section>
    <section class="nav-links">
        <a href="/home" class="active">Quiz</a>
        <a href="/leaderboards">Leaderboards</a>
        <a href="/favorites">Favorite quotes</a>
        <a href="/blacklist">Blacklisted quotes</a>
        <a href="/profile">Profiel</a>
    </section>
</nav>
