<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Blitz</title>
</head>
<body class="fullbody">
    <header>
        <nav>
            <section class="logo">
                <img src="/images/Logo.jpg" alt="Website Logo">
            </section>
            <section class="nav-links">
                <a href="/views/home.html" class="active">Quiz</a>
                <a href="/views/leaderboards.html">Leaderboards</a>
                <a href="/views/favorites.html">Favorite quotes</a>
                <a href="/views/blacklist.html">Blacklisted quotes</a>
                <a href="/views/contact.html">Contact</a>
            </section>
        </nav>
    </header>
    <main>
        <section class="blitz-container">
            <p id="quote-text"></p>
            <section class="quote-box">
                <button id="button1" class="choices button1">Optie 1</button>
                <button id="button2" class="choices button2">Optie 2</button>
                <button id="button3" class="choices button3">Optie 3</button>
                <button id="button4" class="choices button4">Optie 4</button>
                <section class="timer-container">
                    <article id="timer" class="timer">60</article>
                    <script src="timerscript.js"></script>
                </section>
            </section>

            <section class="score-display">
                <span class="score-text">Score:</span>
                <span class="score-value">3/7</span>
            </section>
        </section>
        <section>
            <button onclick="fetchQuote()">Haal een quote op</button>
            <script src="/public/script.js"></script>
        </section>
    </main>
</body>
</html>
