<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Blitz</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <section class="logo">
                <img src="/images/Logo.jpg" alt="">
            </section>
            <ul class="nav-links">
                <li><a class="active" href="home.html">home</a></li>
                <li><a href="highscore.html">highscores</a></li>
                <li><a href="favorite.html">favoriete quotes</a></li>
                <li><a href="blacklist.html">blacklisted quotes</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="quotecontainer">
            <p id="quote"></p>
            <section class="choice">
                <button id="button1" class="choices button1">Optie 1</button>
                <button id="button2" class="choices button2">Optie 2</button>
                <button id="button3" class="choices button3">Optie 3</button>
                <button id="button4" class="choices button4">Optie 4</button>
                <section class="timer-container">
                    <div id="timer" class="timer">60</div>
                    <script src="timerscript.js"></script>
                </section>
            </section>
        </section>
        <section>
            <button onclick="fetchQuote()">Haal een quote op</button>
            <script src="dist/script.js"></script>
        </section>
    </main>
</body>
</html>
