<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body class="contact-body">
    <nav>
        <section class="logo">
            <img src="/images/Logo.jpg" alt="Website Logo">
        </section>
        <section class="nav-links">
            <a href="/views/home.html">Quiz</a>
            <a href="/views/leaderboards.html">Leaderboards</a>
            <a href="/views/favorites.html">Favorited quotes</a>
            <a href="/views/blacklist.html">Blacklisted quotes</a>
            <a href="/views/contact.html"class="active">Contact</a>
        </section>
    </nav>
    <main class="contact_main">

        <section class="cards-container">
            <!-- Card 1 -->
            <article class="card">
                <img src="/images/profileOussamapng.png" alt="Person 1" class="card-image">
                <section class="card-text">
                    <h3>Oussama Amezian</h3>
                    <p>Student Graduaat Programmeren</p>
                    <p>AP Hogeschool</p>
                </section>
            </article>
    
            <!-- Card 2 -->
            <article class="card">
                <img src="/images/ProfileSalim.png" alt="Person 2" class="card-image">
                <section class="card-text">
                    <h3>Salim Chatar</h3>
                    <p>Student Graduaat Programmeren</p>
                    <p>AP Hogeschool</p>
                </section>
            </article>
    
            <!-- Card 3 -->
            <article class="card">
                <img src="/images/ProfileRobin.png" alt="Person 3" class="card-image">
                <section class="card-text">
                    <h3>Robin Segers</h3>
                    <p>Student Graduaat Programmeren</p>
                    <p>AP Hogeschool</p>
                </section>
            </article>
        </section>

        <h1>Contacteer ons!</h1>
        <section class="contact_section">
            <form class="contact_form" action="">
                <label for="contact_email">E-mail:</label>
                <input type="email" name="contact_email" id="contactEmail">
                <label for="contact_message">Laat hier je bericht achter:</label>
                <input type="text" name="contact_message" id="contactMessage">
                <button>Verzend</button>
            </form>
        </section>
    </main>
</body>
</html>