<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <nav>
        <section class="logo">
            <img src="/images/Logo.jpg" alt="Website Logo">
        </section>
        <section class="nav-links">
            <a href="/views/home.html">Quiz</a>
            <a href="/views/leaderboards.html">Leaderboards</a>
            <a href="/views/favorites.html">Favorite quotes</a>
            <a href="/views/blacklist.html">Blacklisted quotes</a>
            <a href="/views/contact.html"class="active">Contact</a>
        </section>
    </nav>

    <main class="contact_main">
        <h1>Contact us!</h1>
        <section class="contact_section">
            <form class="contact_form" action="">
                <label for="contact_email">E-mail:</label>
                <input type="email" name="contact_email" id="contactEmail">
                <label for="contact_message">Describe your issue:</label>
                <input type="text" name="contact_message" id="contactMessage">
            </form>
        </section>
    </main>
</body>
</html>