<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <nav>
        <section class="logo">
            <img src="/images/Logo.jpg" alt="Website Logo">
        </section>
        <section class="nav-links">
            <a href="/views/home.html">Quiz</a>
            <a href="/views/leaderboards.html">Leaderboards</a>
            <a href="/views/favorites.html">Favorite quotes</a>
            <a href="/views/blacklist.html">Blacklisted quotes</a>
            <a href="/views/contact.html"class="active">Contact</a>
        </section>
    </nav>
</body>
</html>