<%- include("partials/header") %>

<body class="favorites-body">
    
    <%- include("partials/nav") %>

    <header class="character-header">
        <button class="nav-button" id="prevBtn">← Vorige</button>
        <h1>Gandalf</h1>
        <button class="nav-button" id="nextBtn">Volgende →</button>
    </header>

    <main class="quotes-section">
        <article class="quote">
            <h3 class="quote-title">Quote 1</h3>
            <blockquote class="quote-text">
                Er is hier net genoeg ruimte voor enkele regels tekst. Zorg dat je boodschap helder en beknopt overkomt.
            </blockquote>
        </article>

        <article class="quote">
            <h3 class="quote-title">Quote 2</h3>
            <blockquote class="quote-text">
                Er is hier net genoeg ruimte voor enkele regels tekst. Zorg dat je boodschap helder en beknopt overkomt.
            </blockquote>
        </article>

        <article class="quote">
            <h3 class="quote-title">Quote 3</h3>
            <blockquote class="quote-text">
                Er is hier net genoeg ruimte voor enkele regels tekst. Zorg dat je boodschap helder en beknopt overkomt.
            </blockquote>
        </article>
    </main>

    <footer>
        LOTR © 2025
    </footer>

    <script src="../public/script.js"></script>
</body>
</html>