<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Home</title>
</head>

<body class="fullbody">
    <header>
        <nav>
            <section class="logo">
                <img src="/images/Logo.jpg" alt="Website Logo">
            </section>
            <section class="nav-links">
                <a href="/views/home.html"  class="active">Quiz</a>
                <a href="/views/leaderboards.html">Leaderboards</a>
                <a href="/views/favorites.html">Favorite quotes</a>
                <a href="/views/blacklist.html">Blacklisted quotes</a>
                <a href="/views/contact.html">Contact</a>
            </section>
        </nav>

    </header>
    <main>
        <h1>Kies je quizmodus</h1>
        <section class="container">
            <article class="option">
                <a href="/views/10rounds.html">
                    <img src="/images/10 rounds.jpg" alt="10rounds">
                </a>
                <ul>
                    <li>10 quotes</li>
                    <li>1 punt per juiste combinatie</li>
                    <li>0,5 punt bij 1 van de 2 juist</li>
                </ul>
            </article>
            <article class="option">
                <a href="/views/blitz.html">
                    <img src="/images/Blitz.jpg" alt="Blitz">
                </a>
                <ul>
                    <li>60 seconden</li>
                    <li>1 punt per juiste combinatie</li>
                </ul>
            </article>
            <article class="option">
                <a href="/views/suddendeath.html">
                    <img src="/images/Sudden Death.jpg" alt="SuddenDeath">
                </a>
                <ul>
                    <li>1 punt per juiste combinatie</li>
                    <li>Ronde stopt bij fout antwoord</li>
                </ul>
            </article>
        </section>
    </main>
    <footer></footer>
</body>

</html>