<%- include("partials/header") %>

<body class="home-body">
    <header>
        <%- include("partials/nav") %>
    </header>
    <main>
        <h1 class="home-title">Kies je quizmodus</h1>
        <section class="container">
            <article class="option">
                <a href="/10rounds">
                    <img src="/images/10 rounds.jpg" alt="10 Rounds">
                </a>
                <ul>
                    <li>10 quotes</li>
                    <li>1 punt per juiste combinatie</li>
                    <li>0,5 punt bij 1 van de 2 juist</li>
                </ul>
            </article>
            <article class="option">
                <a href="/blitz">
                    <img src="/images/Blitz.jpg" alt="Blitz">
                </a>
                <ul>
                    <li>60 seconden</li>
                    <li>1 punt per juiste combinatie</li>
                </ul>
            </article>
            <article class="option">
                <a href="/suddendeath">
                    <img src="/images/Sudden Death.jpg" alt="Sudden Death">
                </a>
                <ul>
                    <li>1 punt per juiste combinatie</li>
                    <li>Ronde stopt bij fout antwoord</li>
                </ul>
            </article>
        </section>

        
    </main>
    <footer>
        LOTR © 2025
    </footer>
</body>
</html>