<%- include("partials/header") %>
    <%- include("partials/navIndex") %>

        <body class="indexBody">

            <main>
                <h1 class="lotr-titel">Kies een game en verken de wereld...</h1>
                <section class="containerLandingpage">
                    <article class="landingpageRow">
                        <div class="image-grid">
                            <img id="wrongImg" src="/images/fifaLogo.png" alt="">
                            <a href="/home">
                                <img id="rightImg" src="/images/lotrLogo.jpeg" alt="LOTR">
                            </a>
                            <img id="wrongImg" src="/images/pokemonLogo.png" alt="">
                            <img id="wrongImg" src="/images/mgtLogo.png" alt="">
                            <img id="wrongImg" src="/images/legoMastersLogo.jpeg" alt="">
                            <img id="wrongImg" src="/images/fortniteLogo.jpeg" alt="">
                        </div>
                    </article>
                </section>

            </main>
        </body>
        <script src="/api.js" defer></script>
        </html>