<%- include("partials/header") %>
    <%- include("partials/navIndex") %>

        <body class="indexBody">

            <main>
                <section id="lockedGameModal" class="locked-game-modal" style="display: none;">
                    <article class="locked-game-content">
                        <h2>Toegang geweigerd!</h2>
                        <p>Deze game is nog niet beschikbaar. Kies een andere!</p>
                        <button id="closeModalBtn">OK</button>
                    </article>
                </section>
                <h1 class="lotr-titel">Kies een game en verken de wereld...</h1>
                <section class="containerLandingpage">
                    <article class="landingpageRow">
                        <img id="wrongImg" src="/images/fifaLogo.png" alt="">
                        <a href="/home">
                            <img id="rightImg" src="/images/lotrLogo.jpeg" alt="LOTR">
                        </a>
                        <img id="wrongImg" src="/images/pokemonLogo.png" alt="">
                        <img id="wrongImg" src="/images/mgtLogo.png" alt="">
                        <img id="wrongImg" src="/images/legoMastersLogo.jpeg" alt="">
                        <img id="wrongImg" src="/images/fortniteLogo.jpeg" alt="">
                    </article>
                </section>

            </main>
        </body>
        <script src="/api.js" defer></script>
        </html>