<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/leaderboard.css" />
    <title>Leaderboard</title>
  </head>
  <body>
    <header class="leaderboard_header"><h1 class="leaderboard_header_title">Header</h1></header>

    <main class="leaderboard_main">
      <h2 class="leaderboard_title">Leaderboard</h2>
      <section class="leaderboard_section">
        <article class="leaderboard_article">
          <h3 class="leaderboard_article_title">10 Rounds</h3>
          <ol class="leaderboard_list">
            <li class="leaderboard_list_item">User1 - 999</li>
            <li class="leaderboard_list_item">User2 - 998</li>
            <li class="leaderboard_list_item">User3 - 997</li>
          </ol>
        </article>
        <article class="leaderboard_article">
          <h3 class="leaderboard_article_title">Blitz</h3>
          <ol class="leaderboard_list">
            <li class="leaderboard_list_item">User1 - 999</li>
            <li class="leaderboard_list_item">User2 - 998</li>
            <li class="leaderboard_list_item">User3 - 997</li>
          </ol>
        </article>
        <article class="leaderboard_article">
          <h3 class="leaderboard_article_title">Sudden Death</h3>
          <ol class="leaderboard_list">
            <li class="leaderboard_list_item">User1 - 999</li>
            <li class="leaderboard_list_item">User2 - 998</li>
            <li class="leaderboard_list_item">User3 - 997</li>
          </ol>
        </article>
      </section>
    </main>

    <footer>
      <p>LOTR &copy; 2025</p>
    </footer>
  </body>
</html>
