<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body class="leaderboardBody">
    <header class="leaderboard_header">
        <nav>
            <section class="logo">
                <img src="/images/Logo.jpg" alt="Website Logo">
            </section>
            <section class="nav-links">
                <a href="/views/home.html">Quiz</a>
                <a href="/views/leaderboards.html"class="active">Leaderboards</a>
                <a href="/views/favorites.html">Favorited quotes</a>
                <a href="/views/blacklist.html">Blacklisted quotes</a>
            </section>
        </nav></header>
        <h1 class="page-header">Klassement</h1>
        <main class="leaderboards-container">
          <section class="leaderboard">
              <article class="game-mode">10 Rounds</article>
              <table>
                  <thead>
                      <tr>
                          <th>Positie</th>
                          <th>Gebruiker</th>
                          <th>Score</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>1</td>
                          <td>User1</td>
                          <td>9999</td>
                      </tr>
                      <tr>
                          <td>2</td>
                          <td>User2</td>
                          <td>9998</td>
                      </tr>
                  </tbody>
              </table>
          </section>
  
          <section class="leaderboard">
            <article class="game-mode">Blitz</article>
              <table>
                  <thead>
                      <tr>
                          <th>Positie</th>
                          <th>Gebruiker</th>
                          <th>Score</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>1</td>
                          <td>User1</td>
                          <td>9999</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>User2</td>
                        <td>9998</td>
                    </tr>
                  </tbody>
              </table>
          </section>
  
          <section class="leaderboard">
            <article class="game-mode">Sudden Death</article>
              <table>
                  <thead>
                      <tr>
                          <th>Positie</th>
                          <th>Gebruiker</th>
                          <th>Score</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>1</td>
                          <td>User1</td>
                          <td>9999</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>User2</td>
                        <td>9998</td>
                    </tr>
                  </tbody>
              </table>
          </section>
      </main>

    <footer class="leaderboard_footer">
      <p>LOTR &copy; 2025</p>
    </footer>
</body>
</html>