<%- include("partials/header") %>

<body class="registrationBody">
    <section class="registration-section">
        <article class="registration-article">
          <h2>Registreer</h2>
          <form id="registrationForm" class="registration-form" action="/register" method="POST">
            <label for="username">Gebruikersnaam:</label>
            <input type="text" id="username" name="username" required>
    
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
    
            <label for="password">Wachtwoord:</label>
            <input type="password" id="password" name="password" required>
    
            <label for="confirm-password">Bevestig wachtwoord:</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
    
            <button type="submit">Registreer</button>
          </form>
        </article>
      </section>

      <script src="/public/script.js"></script>
</body>
</html>